.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size (opinionated).
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
}

/*
Sections
========
*/
/**
1. Remove the margin in all browsers.
2. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  margin: 0;
  /* 1 */
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  /* 2 */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

.container {
  width: 100%;
  padding: 0px 0px;
  margin: 0px auto 120px auto;
  position: relative;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

body {
  background-color: #ffffff;
  font-family: "Lexend", sans-serif;
  font-style: normal;
  position: relative;
}

img {
  display: block;
}

svg {
  display: block;
}

.section-name {
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  text-align: center;
  text-transform: capitalize;
  color: #F59E0B;
}

.section-title {
  font-weight: 600;
  font-size: 32px;
  line-height: 1.25;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  text-align: center;
  text-transform: capitalize;
  color: #1B1C57;
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 12px 16px;
  gap: 16px;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  background: #10B981;
  border-radius: 32px;
  border: none;
  outline: none;
  cursor: pointer;
}
.btn > span {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.57;
  color: #ffffff;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  -ms-flex-positive: 0;
      flex-grow: 0;
}
.btn:hover, .btn:focus {
  scale: 1.05;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
}

.logo__title {
  color: #1B1C57;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  text-transform: capitalize;
  color: #1b1c57;
}

@media screen and (max-width: 767px) {
  .nav {
    margin-bottom: auto;
  }
}
@media screen and (min-width: 768px) {
  .nav {
    margin-right: auto;
  }
}
.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (min-width: 768px) {
  .nav__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 50px;
  }
}

@media screen and (max-width: 767px) {
  .nav__item {
    margin-bottom: 32px;
  }
  .nav__item:last-child {
    margin-bottom: 0;
  }
}
.nav__link {
  display: block;
  position: relative;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #3C4563;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav__link:hover, .nav__link:focus {
  color: #1D4ED8;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .nav__link {
    font-size: 14px;
    line-height: 1.14;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.nav__current {
  color: #1D4ED8;
}
@media screen and (min-width: 768px) {
  .nav__current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    background-color: #1D4ED8;
    border-radius: 2px;
  }
}

.header__btn-menu:hover ~ .nav__current,
.header__btn-menu:focus ~ .nav__current {
  color: #1B1C57;
}

.blur {
  position: absolute;
  width: 438px;
  height: 494px;
  z-index: -1;
  opacity: 0.3;
  -webkit-filter: blur(60px);
          filter: blur(60px);
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.blur.header__blur {
  background-color: #82FFD2;
  left: 74px;
  top: -162px;
}
.blur.hero__blur {
  background-color: #82F7FF;
  left: -173px;
  top: -77px;
}
.blur.recommendation__blur {
  background-color: #FF9882;
  top: 612px;
  left: 920px;
}
.blur.sell__blur {
  background-color: #FFFA82;
  top: -48px;
  left: 979px;
}
.blur.review__blur {
  background-color: #82FFE8;
  left: -290px;
  top: 729px;
}
.blur.article__blur {
  background-color: #C8FF82;
  left: -262px;
  top: 202px;
}
.blur.subscribe__blur {
  background-color: #82BBFF;
  left: 1026px;
  top: 342px;
}
.blur.footer__blur {
  background-color: #B9FF82;
  top: -22px;
  left: 780px;
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}

.social-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 44px;
  height: 44px;
  background-color: #ffffff;
  border-radius: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list__link:hover .social-list__icon, .social-list__link:focus .social-list__icon {
  fill: #ffffff;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list__link:hover, .social-list__link:focus {
  background-color: #1D4ED8;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list__icon {
  fill: #afb1b8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-socials__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: #ffffff;
}

.nav-social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 767px) {
  .nav-social-list {
    display: none;
  }
}

.nav-social-list__item::after {
  content: "";
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  margin-right: 10px;
  padding-right: 10px;
}
.nav-social-list__item:last-child::after {
  border: none;
  margin-right: 0;
  padding-right: 0;
}

.nav-social-list__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #1D4ED8;
}

.social-list__footer-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list__footer-link:hover, .social-list__footer-link:focus {
  background-color: #1D4ED8;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list__footer-icon {
  fill: #ffffff;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__container {
  position: absolute;
  top: 100%;
  left: 0;
}

.header {
  position: relative;
}

.recommendation__section-name {
  margin-bottom: 12px;
}
.recommendation__section-name::before {
  content: "";
  position: absolute;
  width: 32px;
  height: 1px;
  left: -40px;
  bottom: 9px;
  text-align: left;
  background: #F59E0B;
}

.recommendation__nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  gap: 138px;
  margin-bottom: 40px;
}

.recommendation__title {
  text-align: left;
  white-space: nowrap;
}

.recommendation__radioset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 32px;
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
}

.recommendation__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 8px;
  background-color: #ffffff;
  border: 1px solid #E0E3EB;
}
.recommendation__label span {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.56;
  color: #888B97;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  -ms-flex-positive: 0;
      flex-grow: 0;
}

.recommendation__icon-radio {
  fill: #888B97;
}

.recommendation__input {
  visibility: hidden;
}

.recommendation__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 16px;
}
.recommendation__btns > .btn.end {
  background: #E0E3EB;
}
.recommendation__btns > .btn.end > svg {
  fill: #3C4563;
}
.recommendation__btns > .btn > svg {
  fill: #ffffff;
}

.recommendation__slides {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 40px;
}

.recommendation__slide-link {
  position: relative;
  width: 340px;
  cursor: pointer;
}

.recommendation__slide-label {
  position: absolute;
  top: 332px;
  left: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 8px 16px;
  gap: 10px;
  position: absolute;
  height: 34px;
  left: 16px;
  top: 332px;
  border-radius: 32px;
}
.recommendation__slide-label.popular {
  background: #FEE2E2;
}
.recommendation__slide-label.new {
  background: #DBEAFE;
}
.recommendation__slide-label.best {
  background: #D1FAE5;
}

.recommendation__slide-label-name {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  text-transform: capitalize;
  white-space: nowrap;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  -ms-flex-positive: 0;
      flex-grow: 0;
}
.recommendation__slide-label-name.popular {
  color: #EF4444;
}
.recommendation__slide-label-name.new {
  color: #1D4ED8;
}
.recommendation__slide-label-name.best {
  color: #047857;
}

.recommendation__slide-label-icon.new {
  fill: #1D4ED8;
}

.recommendation__slide-img {
  margin-bottom: 24px;
}

.recommendation__slide-agent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  gap: 16px;
}

.recommendation__slide-agent-qualification {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.57;
  color: #888B97;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  -ms-flex-positive: 0;
      flex-grow: 0;
}

.recommendation__slide-agent-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  gap: 4px;
}

.recommendation__slide-agent-name {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.33;
  color: #0E1735;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  -ms-flex-positive: 0;
      flex-grow: 0;
}

.recommendation__slide-title {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.33;
  color: #0E1735;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  -ms-flex-positive: 0;
      flex-grow: 0;
  margin-bottom: 8px;
}

.recommendation__slide-price {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.6;
  color: #3C4563;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  -ms-flex-positive: 0;
      flex-grow: 0;
  margin-bottom: 24px;
}

.sell__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 148px;
}

.sell__left-side {
  width: 524px;
  height: 404px;
}

.sell__right-side {
  position: relative;
  width: 528px;
  height: 459px;
}

.sell__title {
  text-align: left;
  white-space: nowrap;
  margin-bottom: 16px;
}

.sell__section-name {
  margin-bottom: 12px;
}
.sell__section-name::before {
  content: "";
  position: absolute;
  width: 32px;
  height: 1px;
  left: -40px;
  bottom: 9px;
  text-align: left;
  background: #F59E0B;
}

.sell__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.75;
  color: #626687;
  opacity: 0.75;
  width: 413px;
  margin-bottom: 16px;
}

.sell__details-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.75;
  color: #1B1C57;
  opacity: 0.75;
  margin-bottom: 16px;
}

.sell__details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 53px;
  margin-bottom: 66px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  text-transform: capitalize;
  color: #3C4563;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.sell__detail-value,
.sell__detail-name {
  display: block;
}

.sell__detail-value {
  margin-right: 4px;
}

.sell__details-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 16px;
}

.sell__agent {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 57px;
}
.sell__agent::before {
  content: "";
  position: absolute;
  width: 440px;
  height: 2px;
  left: 0px;
  top: -32px;
  background: #f0f3fd;
}

.sell__agent-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 24px;
}

.sell__agent-qualification {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #888B97;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  -ms-flex-positive: 0;
      flex-grow: 0;
}

.sell__agent-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 4px;
}

.sell__agent-name {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.33;
  color: #0E1735;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  -ms-flex-positive: 0;
      flex-grow: 0;
}

.sell__detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.sell__detail > svg {
  margin-right: 16px;
}

.sell__slide-img {
  position: absolute;
}
.sell__slide-img.first {
  bottom: 0px;
  left: 0px;
  z-index: 1;
}
.sell__slide-img.second {
  bottom: 0px;
  left: 308px;
  z-index: 1;
}
.sell__slide-img.third {
  bottom: 0px;
  left: 412px;
  z-index: 1;
}
.sell__slide-img.fourth {
  top: 0px;
  left: 40px;
  z-index: 0;
}

.review__section-name {
  margin: 9px auto 12px auto;
}
.review__section-name::before {
  content: "";
  position: absolute;
  width: 32px;
  height: 1px;
  left: 50%;
  top: -8px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: #F59E0B;
}

.review__title {
  margin: 0px auto 40px auto;
}

.review__slides {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 56px;
}

.review__slide {
  position: relative;
}

.review__slide-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 32px;
  position: absolute;
  width: 612px;
  height: 249px;
  left: 64px;
  top: 256px;
  background: #ffffff;
  -webkit-box-shadow: 0px 9px 32px rgba(89, 92, 219, 0.05);
          box-shadow: 0px 9px 32px rgba(89, 92, 219, 0.05);
  border-radius: 16px;
}

.review__slide-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.25;
  text-transform: capitalize;
  color: #1B1C57;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  -ms-flex-positive: 0;
      flex-grow: 0;
  margin-bottom: 16px;
}

.review__slide-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: #626687;
  opacity: 0.75;
  margin-bottom: 24px;
}

.review__slide-agent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: auto;
}

.review__slide-agent-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.review__slide-agent-box.left {
  gap: 24px;
  margin-right: auto;
}
.review__slide-agent-box.right {
  gap: 16px;
}

.review__slide-agent-rate {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.4x;
  color: #3C4563;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  -ms-flex-positive: 0;
      flex-grow: 0;
}

.review__slide-agent-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 4px;
}

.review__slide-agent-qualification {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.57;
  color: #888B97;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  -ms-flex-positive: 0;
      flex-grow: 0;
}

.review__slide-agent-name {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.57;
  color: #1B1C57;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  -ms-flex-positive: 0;
      flex-grow: 0;
}

.review__dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 16px;
  margin: 137px auto 0px auto;
}

.review__dot.active {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #3C4563;
}

.review__dot-link {
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #E0E3EB;
}

.article__section-name {
  margin: 9px auto 12px auto;
}
.article__section-name::before {
  content: "";
  position: absolute;
  width: 32px;
  height: 1px;
  left: 50%;
  top: -8px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: #F59E0B;
}

.article__title {
  margin: 0px auto 24px auto;
}

.article__link {
  margin: 0px auto 40px auto;
}

.article__slides-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 68px;
}

.article__slides {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 40px;
}

.article__slide-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 32px;
  max-height: 148px;
  width: 572px;
}
.article__slide-link.top {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 560px;
}

.article__slide-agent-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  gap: 16px;
  margin-bottom: 12px;
}

.article__slide-agent-name {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.57;
  color: #3C4563;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.article__slide-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  gap: 12px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: #888B97;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.article__slide-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.78;
  text-transform: capitalize;
  color: #1B1C57;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  -ms-flex-positive: 0;
      flex-grow: 0;
  margin-bottom: 16px;
}
.article__slide-title.top {
  font-size: 24px;
  line-height: 1.33;
  margin-bottom: 12px;
}

.article__slide-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: #626687;
  opacity: 0.75;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  -ms-flex-positive: 0;
      flex-grow: 0;
  margin-bottom: 16px;
}

.subscribe__container {
  background: -webkit-gradient(linear, left top, right top, from(#ACC6F7), color-stop(3.38%), color-stop(6.76%, #BACCF4), color-stop(9.64%), color-stop(12.53%, #C5D2F3), color-stop(16.83%), color-stop(21.12%, #D0D8F3), color-stop(21.97%), color-stop(22.81%, #D3DBF4), color-stop(23.52%), color-stop(24.22%, #D3DBF4), color-stop(27.18%), color-stop(30.14%, #DBE0F4), color-stop(32.32%), color-stop(34.5%, #E2E6F4), color-stop(37.95%), color-stop(41.4%, #EBF0F6), color-stop(41.9%), color-stop(42.39%, #EBF1F7), color-stop(44.36%), color-stop(46.33%, #EFF7F8), color-stop(52.32%), color-stop(58.3%, #F2FDF9), color-stop(66.54%), color-stop(74.78%, #F2FBF8), color-stop(83.59%), color-stop(92.39%, #EFF2FA), color-stop(96.19%), to(#E8EAF8));
  background: linear-gradient(to right, #ACC6F7 0%, 3.38%, #BACCF4 6.76%, 9.64%, #C5D2F3 12.53%, 16.83%, #D0D8F3 21.12%, 21.97%, #D3DBF4 22.81%, 23.52%, #D3DBF4 24.22%, 27.18%, #DBE0F4 30.14%, 32.32%, #E2E6F4 34.5%, 37.95%, #EBF0F6 41.4%, 41.9%, #EBF1F7 42.39%, 44.36%, #EFF7F8 46.33%, 52.32%, #F2FDF9 58.3%, 66.54%, #F2FBF8 74.78%, 83.59%, #EFF2FA 92.39%, 96.19%, #E8EAF8 100%);
  width: 1200px;
  height: 312px;
  border-radius: 32px;
  padding-top: 65px;
  padding-bottom: 65px;
}

.subscribe__img {
  position: absolute;
  border: 2px solid #ffffff;
  border-radius: 24px;
}
.subscribe__img.first {
  left: 44px;
  top: 38px;
}
.subscribe__img.second {
  left: 195px;
  top: 178px;
}
.subscribe__img.third {
  left: 930px;
  top: 44px;
}
.subscribe__img.fourth {
  left: 1072px;
  top: 197px;
}

.subscribe__agent-img {
  position: absolute;
  border: 2px solid #ffffff;
  border-radius: 50%;
  -webkit-filter: drop-shadow(0px 9px 32px rgba(89, 92, 219, 0.1));
          filter: drop-shadow(0px 9px 32px rgba(89, 92, 219, 0.1));
}
.subscribe__agent-img.first {
  left: 67px;
  top: 173px;
}
.subscribe__agent-img.second {
  left: 204px;
  top: 71px;
}
.subscribe__agent-img.third {
  left: 1082px;
  top: 107px;
}
.subscribe__agent-img.fourth {
  left: 964px;
  top: 143px;
}

.subscribe__title {
  margin: 0px auto 32px auto;
}

.subscribe__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4px 4px 4px 24px;
  gap: 16px;
  margin-left: auto;
  margin-right: auto;
  width: 496px;
  height: 54px;
  background: #ffffff;
  /* Shadow / Smooth */
  -webkit-box-shadow: 0px 9px 32px rgba(89, 92, 219, 0.05);
          box-shadow: 0px 9px 32px rgba(89, 92, 219, 0.05);
  border-radius: 32px;
}

.subscribe__input {
  width: 283px;
  height: 22px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.57;
  color: #888B97;
  outline: none;
  border: none;
}

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 263px;
  height: 180px;
}

.footer__left-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 320px;
}

.footer__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: #626687;
  opacity: 0.75;
  margin-top: 16px;
  margin-bottom: 24px;
}

.footer__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 24px;
}

.footer__icon {
  fill: #3C4563;
}

.footer__social-link:hover .footer__icon,
.footer__social-link:focus .footer__icon {
  fill: #1B1C57;
}

.footer__right-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 88px;
  width: 622px;
  margin-left: auto;
}

.footer__right-side-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.22;
  text-transform: capitalize;
  color: #0E1735;
  margin-bottom: 24px;
}

.footer__property-link,
.footer__article-link,
.footer__address,
.footer__email,
.footer__phone {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  white-space: nowrap;
  text-transform: capitalize;
  color: #626687;
}
.footer__property-link:hover, .footer__property-link:focus,
.footer__article-link:hover,
.footer__article-link:focus,
.footer__address:hover,
.footer__address:focus,
.footer__email:hover,
.footer__email:focus,
.footer__phone:hover,
.footer__phone:focus {
  color: #0E1735;
}

.footer__right-side-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 18px;
}/*# sourceMappingURL=main.css.map */