:root {

--vector: #ff9882;
--vector: #82ffe8;
--vector: #fffa82;
--vector: #c8ff82;
--vector: #82bbff;
--vector: #b9ff82;
--vector: #82f7ff;
--vector: #82ffd2;
--vector: #f59e0b;
--vector: #ef4444;
--vector: #3b82f6;
--vector: #1d4ed8;
--rectangle-1: #f0fafd;
--rectangle-9: #4be4c9;
--rectangle-13: #fcd34d;
--rectangle-22: #c4c4c4;
--successfully-getting-home: #68799f;
--hounter: #1b1c57;
--about-us: #f0f3fd;
--frame-9: #d1fae5;
--black: #000000;
--white: #ffffff;
--search-button: #e0e3eb;
--houses: #626687;
--frame-13: #dbeafe;
--frame-132: #fee2e2;
--price: #3c4563;
--roselandshouse: #0e1735;
--search-for-the-location-you-want: #888b97;
--search-button: #10b981;
--sign-up: #047857;
}

body {
font-family: 'Lexend', sans-serif;
}

.blur {
position: absolute;
width: 438px;
height: 494px;
left: 1593px;
top: 1574px;

background: #FFFA82;
opacity: 0.3;
filter: blur(60px);
transform: rotate(90deg);
}