.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;

  width: fit-content;
  margin-left: 20px;

  @media screen and (min-width: 1200px) {
    margin-left: 0px;
    gap: 14px;
  }

  @media screen and (min-width: 1920px) {
    gap: 16px;
  }
}

.logo__title {
  color: $text-main;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.25;
  text-transform: capitalize;

  color: #1b1c57;

  @media screen and (min-width: 1200px) {
    font-size: 16px;
  }

  @media screen and (min-width: 1920px) {
    font-size: 18px;
  }
}

.logo__icon {
  @media screen and (min-width: 1200px) {
    width: 36px;
    height: 36px;
  }

  @media screen and (min-width: 1920px) {
    width: 40px;
    height: 40px;
  }
}
