.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;

width: fit-content;
}

.logo__title {
  color: $text-main;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  text-transform: capitalize;

  color: #1b1c57;
}
