.backdrop.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background: $background-backdrop;

    z-index: 100;

    visibility: visible;
    opacity: 1;

    transition: opacity $timing-function-main,
        visibility $timing-function-main;
}

.modal {
    position: absolute;
    top: 221px;
    left: 50%;
    transform: translateX(-50%);

    width: auto;
    height: auto;
    box-shadow: $shadow-first;
    border-radius: 4px;
    padding: 40px;

    background-color: $background-main;

    transition: transform $timing-function-main;

& > img {
position: static;
width: 500px;
height: auto;
}
}

.modal__btn-close {
    position: absolute;
    top: 8px;
    right: 8px;
    padding: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-color: $background-main;
    border: $border-btn-gray;

    transition: fill $timing-function-main;

    &:hover,
    &:focus {
        fill: $icon-social;
    }
}

