section {
  margin: 0px auto;
  width: 100%;
}

.container {
  width: 100%;
  padding: 0px 80px 80px 80px;
  margin: 0px auto;

  min-width: 560px;
  max-width: 960px;

  position: relative;

  @media screen and (min-width: 1200px) {
    padding: 0px 120px 120px 120px;
    max-width: 1440px;
  }

  @media screen and (min-width: 1920px) {
    padding: 0px 160px 160px 160px;
    max-width: 2240px;
  }
}
