.footer-container {
  display: flex;
flex-direction: column;
  align-items: center;
  justify-content: center;
gap: 24px;
  // height: 180px;

    @media screen and (min-width: 1200px) {
flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
gap: 88px;

    }

    @media screen and (min-width: 1920px) {
gap: 108px;
    }

}

.footer__left-side {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  width: 100%;

    @media screen and (min-width: 1200px) {
  align-items: flex-start;
  justify-content: center;

    width: 320px;

    }

    @media screen and (min-width: 1920px) {
    width: 420px;

    }

}

.footer__text {
  font-weight: 400;
  font-size: 10px;
  line-height: 1.71;

text-align: center;
width: 320px;

  color: $text-grey;

  opacity: 0.75;

  margin-top: 14px;
  margin-bottom: 20px;

    @media screen and (min-width: 1200px) {
  font-size: 14px;
  margin-top: 16px;
  margin-bottom: 24px;

text-align: left;
width: auto;
    }

    @media screen and (min-width: 1920px) {
  font-size: 16px;
  margin-top: 20px;
  margin-bottom: 28px;
    }
}

.footer__icon {
    @media screen and (min-width: 1200px) {
width: 32px;
height: 32px;
    }

    @media screen and (min-width: 1920px) {
width: 36px;
height: 36px;
    }
}

.footer__socials {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;

    @media screen and (min-width: 1200px) {
  gap: 24px;
    }

    @media screen and (min-width: 1920px) {
  gap: 28px;
    }

}

.footer__icon {
  fill: $icon-social;
}

.footer__social-link:hover .footer__icon,
.footer__social-link:focus .footer__icon {
  fill: $icon-accent;
}

.footer__right-side {
  display: flex;
flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;


    @media screen and (min-width: 1200px) {
flex-direction: row;
  align-items: flex-start;
  justify-content: center;

  gap: 88px;

    }

    @media screen and (min-width: 1920px) {
  gap: 108px;
    }
}

.footer__right-side-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.22;

  text-transform: capitalize;
text-align: center;

  color: $text-footer;

  margin-bottom: 10px;

    @media screen and (min-width: 1200px) {
  font-size: 18px;
  margin-bottom: 24px;

text-align: left;
    }

    @media screen and (min-width: 1920px) {
  font-size: 22px;
  margin-bottom: 28px;
    }

}

.footer__property-link,
.footer__article-link,
.footer__address,
.footer__email,
.footer__phone {
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 1.29;

  white-space: nowrap;

  text-transform: capitalize;
text-align: center;

  color: $text-grey;

  &:hover,
  &:focus {
    color: $text-footer;
  }

    @media screen and (min-width: 1200px) {
  font-size: 14px;

text-align: left;
    }

    @media screen and (min-width: 1920px) {
  font-size: 16px;
    }
}

.footer__right-side-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;

    @media screen and (min-width: 1200px) {
  align-items: flex-start;

  gap: 18px;
    }

    @media screen and (min-width: 1920px) {
  gap: 22px;
    }

}

