.header {
  position: relative;

  width: 100%;
  margin: 0px auto;
}

.header__container {
  position: absolute;
  top: calc(100% + 40px);
  left: 0px;

  width: 100%;

  z-index: 10;

  @media screen and (min-width: 600px) {
    left: 50%;
    transform: translateX(-50%);
  }
}

.header__menu-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  height: 46px;

  @media screen and (min-width: 1200px) {
    align-items: center;
  }
}

.header__menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 56px;

  width: 200px;
  padding: 4px;
  border-radius: 24px;
  margin-right: 50px;

  visibility: hidden;

  background-color: $background-main;

  & .nav__link,
  .nav__option {
    color: $text-main;
  }
  & .nav__icon {
    fill: $text-main;
  }

  @media screen and (min-width: 1200px) {
    gap: 20px;

    padding: 0px;
    border-radius: 0px;
    margin-right: 0px;

    visibility: visible;
    flex-direction: row;

    width: fit-content;

    background-color: transparent;

    & .nav__link,
    .nav__option {
      color: $text-nav;
    }

    & .nav__icon {
      fill: $text-nav;
    }

    & .nav__btn {
      fill: $text-nav;
    }
  }

  @media screen and (min-width: 1300px) {
    gap: 56px;
  }

  @media screen and (min-width: 1920px) {
    gap: 66px;

    margin-right: 200px;
  }
}

.header__menu-btn {
  visibility: visible;
  cursor: pointer;
  background-color: transparent;
  border: 2px solid $text-nav;
  border-radius: 4px;
  outline: none;
  padding: 2px;
  margin: 0;

  & .header__menu-btn-icon {
    fill: $text-nav;
  }

  &:hover {
    border-color: $icon-accent;
  }

  @media screen and (min-width: 1200px) {
    visibility: hidden;
  }
}

.nav {
  width: fit-content;
}

.nav__pages {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;

  @media screen and (min-width: 1200px) {
    gap: 12px;

    flex-direction: row;
  }

  @media screen and (min-width: 1300px) {
    gap: 24px;
  }

  @media screen and (min-width: 1920px) {
    gap: 28px;
  }
}

.nav__page {
  position: relative;

  padding: 6px 12px;

  width: fit-content;
  height: 30px;

  background: $background-nav;
  border: $border-nav;
  border-radius: 28px;

  @media screen and (min-width: 1200px) {
    padding: 8px 16px;

    height: 34px;

    border-radius: 32px;
  }

  @media screen and (min-width: 1920px) {
    padding: 10px 20px;

    height: 36px;

    border-radius: 34px;
  }

  &.select:hover > .nav__options > .nav__option,
  &.select:focus > .nav__options > .nav__option {
    outline: none;
  }
}

.nav__btn {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.57;

  color: $text-green;
  background-color: $background-light-green;

  @media screen and (min-width: 1200px) {
    font-size: 14px;
  }

  @media screen and (min-width: 1920px) {
    font-size: 16px;
  }
}

.nav__link,
.nav__option {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.29;

  text-transform: capitalize;

  color: $text-nav;

  @media screen and (min-width: 1200px) {
    font-size: 14px;
  }

  @media screen and (min-width: 1920px) {
    font-size: 16px;
  }

  &.select {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    @media screen and (min-width: 1200px) {
      gap: 10px;
    }

    @media screen and (min-width: 1920px) {
      gap: 12px;
    }
  }
}

.nav__icon {
  fill: $icon-white;

  transform: rotate(90deg);

  @media screen and (min-width: 1200px) {
    width: 18px;
    height: 18px;
  }

  @media screen and (min-width: 1920px) {
    width: 22px;
    height: 22px;
  }
}

.nav__options {
  position: absolute;
  top: 42px;
  left: 50%;

  transform: translate(-50%);

  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 8px;

  @media screen and (min-width: 1200px) {
    gap: 10px;
  }

  @media screen and (min-width: 1920px) {
    gap: 12px;
  }

  &.is-hidden {
    display: none;
  }
}

.nav__option {
  display: block;

  &:hover,
  &:focus {
    color: $text-light-blue;

    @media screen and (min-width: 1200px) {
      color: $icon-accent;
    }
  }
}
