.about {
    padding-bottom: $bottoms;

    @media screen and (max-width: 1199px) {
        display: none;
    }
}

.about-title {
    color: $text-secondary;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;

    margin-bottom: 50px;
}

.about-list {
    display: flex;
gap: 30px;
}

.about-list__img {
    width: 100%;
}

.about-list__item {
    display: block;

    position: relative;

// width: calc((100% - 60) / 3);
}

.about-item__text {
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    padding-top: 27px;
    padding-bottom: 27px;

    font-family: "Roboto";
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: $text-white;
    background-color: $background-about;
}
