.review__section-name {
  margin: 7px auto 10px auto;

  @media screen and (min-width: 1200px) {
    margin: 9px auto 12px auto;
  }

  @media screen and (min-width: 1920px) {
    margin: 12px auto 16px auto;
  }

  &::before {
    content: "";
    position: absolute;
    width: 28px;
    height: 1px;
    top: -6px;
    left: 50%;

    transform: translateX(-50%);

    background: $text-orange;

    @media screen and (min-width: 1200px) {
      width: 32px;
      top: -8px;
    }

    @media screen and (min-width: 1920px) {
      width: 36px;
      top: -10px;
    }
  }
}

.review__title {
  margin: 0px auto 36px auto;

  @media screen and (min-width: 1200px) {
    margin: 0px auto 40px auto;
  }

  @media screen and (min-width: 1920px) {
    margin: 0px auto 48px auto;
  }

}

.review__slides-container {
  position: relative;

  width: 100%;
  height: 420px;

  @media screen and (min-width: 1200px) {
  height: 505px;
  }

  @media screen and (min-width: 1920px) {
  height: 560px;
  }

}

.review__slides {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 56px;

  width: 313.333333333%;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);

  @media screen and (min-width: 1200px) {
  width: 233.333333333%;
  }

  @media screen and (min-width: 1920px) {
  width: 203.333333333%;
  }
}

.review__slide {
  position: relative;
// height: 100%;
}

.review__slide-label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px;

  position: absolute;
  width: calc(100% - 4 * 24px);
  height: auto;
  top: 64%;
    left: 50%;

    transform: translateX(-50%);

  background: $background-main;

  box-shadow: $shadow-first;
  border-radius: 10px;

  @media screen and (min-width: 1200px) {
  padding: 32px;

  width: calc(100% - 4 * 32px);

  border-radius: 16px;
  }

  @media screen and (min-width: 1920px) {
  padding: 36px;

  width: calc(100% - 4 * 36px);

  border-radius: 26px;
  }

}

.review__slide-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;

// white-space: nowrap;

  text-transform: capitalize;

  color: $text-main;

  // flex: none;
  // order: 0;
  // flex-grow: 0;

  margin-bottom: 10px;

  @media screen and (min-width: 1200px) {
  margin-bottom: 16px;

  font-size: 20px;
  }

  @media screen and (min-width: 1920px) {
  margin-bottom: 20px;

  font-size: 22px;
  }
}

.review__slide-text {
  font-weight: 400;
  font-size: 10px;
  line-height: 1.71;

  color: $text-grey;

  opacity: 0.75;

  // flex: none;
  // order: 1;
  // flex-grow: 0;

  margin-bottom: 20px;

  @media screen and (min-width: 1200px) {
  margin-bottom: 24px;

  font-size: 14px;
  }

  @media screen and (min-width: 1920px) {
  margin-bottom: 20px;

  font-size: 16px;
  }
}

.review__slide-agent {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;

  width: 100%;
}

.review__slide-agent-box {
  display: flex;
  align-items: center;
  justify-content: center;

  &.left {
    gap: 12px;

  @media screen and (min-width: 1200px) {
    gap: 24px;
  }

  @media screen and (min-width: 1920px) {
    gap: 28px;
  }
  }

  &.right {
    gap: 6px;

  @media screen and (min-width: 1200px) {
    gap: 16px;
  }

  @media screen and (min-width: 1920px) {
    gap: 20px;
  }
  }
}

.review__slide-agent-rate {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.4x;

  color: $text-secondary;

  // flex: none;
  // order: 1;
  // flex-grow: 0;
  @media screen and (min-width: 1200px) {
  font-size: 20px;
  }

  @media screen and (min-width: 1920px) {
  font-size: 28px;
  }
}

.review__slide-agent-title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 2px;

  @media screen and (min-width: 1200px) {
  gap: 4px;
  }

  @media screen and (min-width: 1920px) {
  gap: 6px;
  }
}

.review__slide-agent-qualification {
  font-weight: 500;
  font-size: 10px;
  line-height: 1.57;

  color: $text-gray;

  // flex: none;
  // order: 1;
  // align-self: stretch;
  // flex-grow: 0;

  @media screen and (min-width: 1200px) {
  font-size: 14px;
  }

  @media screen and (min-width: 1920px) {
  font-size: 18px;
  }
}

.review__slide-agent-name {
  font-weight: 500;
  font-size: 10px;
  line-height: 1.57;

  color: $text-main;

  // flex: none;
  // order: 0;
  // align-self: stretch;
  // flex-grow: 0;

  @media screen and (min-width: 1200px) {
  font-size: 14px;
  }

  @media screen and (min-width: 1920px) {
  font-size: 18px;
  }
}

.review__dots {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  margin: 10px auto 0px auto;

  @media screen and (min-width: 1200px) {
  gap: 16px;

  margin: 32px auto 0px auto;
  }

  @media screen and (min-width: 1920px) {
  gap: 20px;

  margin: 70px auto 0px auto;
  }

}

.review__dot-button {
cursor: pointer;
pointer-events: auto;
  display: block;

  width: 6px;
  height: 6px;

padding: 0;

border: none;
outline: none;

  border-radius: 50%;

  background: $background-gray;

  @media screen and (min-width: 1200px) {
  width: 8px;
  height: 8px;
  }

  @media screen and (min-width: 1920px) {
  width: 10px;
  height: 10px;
  }

&.active {
  background: $text-secondary;
pointer-events: none;
}
}

.review__slide-agent-icon {
    @media screen and (min-width: 1200px) {
width: 28px;
height: 28px;
    }

    @media screen and (min-width: 1920px) {
width: 32px;
height: 32px;
    }
}

.review__slide-img {
min-width: 400px;
  height: auto;
width: 100%;
  @media screen and (min-width: 1200px) {
width: 740px;  }

  @media screen and (min-width: 1920px) {
width: 840px;  }
}

.review__slide-agent-img {
  @media screen and (min-width: 1200px) {
width: 40px;
  height: 40px;
  }

  @media screen and (min-width: 1920px) {
width: 50px;
  height: 50px;
  }
}
