.sell__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 60px;

  @media screen and (min-width: 1200px) {
    flex-direction: row;
    justify-content: space-between;
    gap: 150px;
  }

  @media screen and (min-width: 1920px) {
    gap: 170px;
  }
}

.sell__left-side {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 470px;
  height: 100%;

  @media screen and (min-width: 1200px) {
    align-items: flex-start;
    width: 522px;
  }

  @media screen and (min-width: 1920px) {
    width: 574px;
  }
}

.sell__right-side {
  position: relative;
  width: 475px;
  height: 400px;

  cursor: pointer;

  @media screen and (min-width: 1200px) {
    width: 528px;
    height: 460px;
  }

  @media screen and (min-width: 1920px) {
    width: 581px;
    height: 500px;
  }
}

.sell__title {
  display: inline-block;
  text-align: center;

  margin-bottom: 16px;

  @media screen and (min-width: 1200px) {
    text-align: left;
    white-space: nowrap;

    margin-bottom: 16px;
  }

  @media screen and (min-width: 1920px) {
    margin-bottom: 16px;
  }
}

.sell__section-name {
  position: relative;

  margin: 7px auto 10px auto;

  @media screen and (min-width: 1200px) {
    margin: 9px auto 12px 0px;
  }

  @media screen and (min-width: 1920px) {
    margin: 12px auto 16px 0px;
  }

  &::before {
    content: "";

    position: absolute;
    width: 28px;
    height: 1px;
    top: -6px;
    left: 50%;

    transform: translateX(-50%);

    background: $text-orange;

    @media screen and (min-width: 1200px) {
      width: 32px;

      left: -40px;
      top: 50%;

      transform: translateY(-50%);
    }

    @media screen and (min-width: 1920px) {
      left: -46px;

      width: 36px;
    }
  }
}

.sell__text {
  font-weight: 400;
  font-size: 10px;
  line-height: 1.75;
  text-align: center;

  color: $text-grey;

  opacity: 0.75;

  width: 70%;
  margin-bottom: 10px;

  @media screen and (min-width: 1200px) {
    font-size: 16px;
    text-align: left;

    margin-bottom: 16px;
    width: 90%;
  }

  @media screen and (min-width: 1920px) {
    font-size: 18px;

    margin-bottom: 18px;

    white-space: nowrap;
  }
}

.sell__details-title {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.75;
  text-align: center;

  color: $text-main;

  opacity: 0.75;

  margin-bottom: 12px;

  @media screen and (min-width: 1200px) {
    font-size: 16px;
    text-align: left;

    margin-bottom: 16px;
  }

  @media screen and (min-width: 1920px) {
    font-size: 18px;

    margin-bottom: 18px;
  }
}

.sell__details {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 30px;

  margin-bottom: 40px;

  font-weight: 500;
  font-size: 12px;
  line-height: 1.25;

  text-transform: capitalize;

  color: $text-secondary;

  @media screen and (min-width: 1200px) {
    font-size: 16px;

    gap: 53px;
    margin-bottom: 66px;
  }

  @media screen and (min-width: 1920px) {
    font-size: 18px;

    gap: 60px;
    margin-bottom: 70px;
  }
}

.sell__detail-value,
.sell__detail-name {
  display: block;
}

.sell__detail-value {
  margin-right: 2px;

  @media screen and (min-width: 1200px) {
    margin-right: 4px;
  }

  @media screen and (min-width: 1920px) {
    margin-right: 6px;
  }
}

.sell__details-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 12px;

  @media screen and (min-width: 1200px) {
    gap: 16px;
  }

  @media screen and (min-width: 1920px) {
    flex-direction: row;
    gap: 60px;
  }
}

.sell__agent {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;

  @media screen and (min-width: 1200px) {
    justify-content: flex-start;

    gap: 57px;
  }

  @media screen and (min-width: 1920px) {
    gap: 300px;
  }

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    left: 50%;
    top: -20px;

    transform: translateX(-50%);

    background: #f0f3fd;

    @media screen and (min-width: 1200px) {
      left: 0px;
      top: -32px;

      transform: translateX(0);
    }

    @media screen and (min-width: 1920px) {
      top: -40px;
    }
  }
}

.sell__agent-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;

  @media screen and (min-width: 1200px) {
    gap: 24px;
  }

  @media screen and (min-width: 1920px) {
    gap: 28px;
  }
}

.sell__agent-qualification {
  font-weight: 500;
  font-size: 10px;
  line-height: 1.5;

  color: $text-gray;

  white-space: nowrap;

  @media screen and (min-width: 1200px) {
    font-size: 16px;
  }

  @media screen and (min-width: 1920px) {
    font-size: 18px;
  }
}

.sell__agent-title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 2px;

  white-space: nowrap;

  @media screen and (min-width: 1200px) {
    gap: 4px;
  }

  @media screen and (min-width: 1920px) {
    gap: 6px;
  }
}

.sell__agent-name {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.33;

  color: $text-footer;

  @media screen and (min-width: 1200px) {
    font-size: 18px;
  }

  @media screen and (min-width: 1920px) {
    font-size: 22px;
  }
}

.sell__detail {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  & > svg {
    margin-right: 12px;

    @media screen and (min-width: 1200px) {
      width: 32px;
      height: 32px;

      margin-right: 16px;
    }

    @media screen and (min-width: 1920px) {
      width: 36px;
      height: 36px;

      margin-right: 18px;
    }
  }
}

.sell__agent-img {
  @media screen and (min-width: 1200px) {
    width: 56px;
    height: 56px;
  }

  @media screen and (min-width: 1920px) {
    width: 60px;
    height: 60px;
  }
}

.sell__btn-icon {
  @media screen and (min-width: 1200px) {
    width: 24px;
    height: 24px;
  }

  @media screen and (min-width: 1920px) {
    width: 28px;
    height: 28px;
  }
}

.sell__slide-img {
  position: absolute;

  &.first {
    width: 266px;
    height: 151px;

    bottom: 0px;
    left: 50%;

    transform: translateX(-238px);

    z-index: 4;

    @media screen and (min-width: 1200px) {
      width: 296px;
      height: 168px;

      transform: translateX(-264px);
    }

    @media screen and (min-width: 1920px) {
      width: 326px;
      height: 185px;

      transform: translateX(-290px);
    }
  }
  &.second {
    width: 86px;
    height: 72px;

    bottom: 0px;
    left: 50%;

    transform: translateX(40px);

    z-index: 3;

    @media screen and (min-width: 1200px) {
      width: 96px;
      height: 80px;

      transform: translateX(44px);
    }

    @media screen and (min-width: 1920px) {
      width: 106px;
      height: 88px;

      transform: translateX(48px);
    }
  }
  &.third {
    width: 86px;
    height: 72px;

    bottom: 0px;
    left: 50%;

    transform: translateX(134px);

    z-index: 2;

    @media screen and (min-width: 1200px) {
      width: 96px;
      height: 80px;

      transform: translateX(148px);
    }

    @media screen and (min-width: 1920px) {
      width: 106px;
      height: 88px;

      transform: translateX(162px);
    }
  }
  &.fourth {
    width: 439px;
    height: 374px;

    top: 0px;
    right: 50%;

    transform: translateX(240px);

    z-index: 1;

    @media screen and (min-width: 1200px) {
      width: 488px;
      height: 416px;

      transform: translateX(264px);
    }

    @media screen and (min-width: 1920px) {
      width: 537px;
      height: 458px;

      transform: translateX(290px);
    }
  }
}
