.sell__container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 148px;
}

.sell__left-side {
  width: 524px;
  height: 404px;
}

.sell__right-side {
  position: relative;
  width: 528px;
  height: 459px;

  cursor: pointer;
}

.sell__title {
  text-align: left;
  white-space: nowrap;

  margin-bottom: 16px;
}

.sell__section-name {
  margin-bottom: 12px;
  &::before {
    content: "";
    position: absolute;
    width: 32px;
    height: 1px;
    left: -40px;
    bottom: 9px;

    text-align: left;

    background: $text-orange;
  }
}

.sell__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.75;

  color: $text-grey;

  opacity: 0.75;

  width: 413px;
  margin-bottom: 16px;
}

.sell__details-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.75;

  color: $text-main;

  opacity: 0.75;

  margin-bottom: 16px;
}

.sell__details {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 53px;

  margin-bottom: 66px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;

  text-transform: capitalize;

  color: $text-secondary;

  flex: none;
  order: 1;
  flex-grow: 1;
}

.sell__detail-value,
.sell__detail-name {
  display: block;
}

.sell__detail-value {
  margin-right: 4px;
}

.sell__details-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 16px;
}

.sell__agent {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 57px;

  &::before {
    content: "";
    position: absolute;
    width: 440px;
    height: 2px;
    left: 0px;
    top: -32px;

    background: #f0f3fd;
  }
}

.sell__agent-box {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 24px;
}

.sell__agent-qualification {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;

  color: $text-gray;

  flex: none;
  order: 1;
  flex-grow: 0;
}

.sell__agent-title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 4px;
}

.sell__agent-name {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.33;

  color: $text-footer;

  flex: none;
  order: 0;
  flex-grow: 0;
}

.sell__detail {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  & > svg {
    margin-right: 16px;
  }
}

.sell__slide-img {
  // object-fit: contain;
  position: absolute;

  &.first {
    bottom: 0px;
    left: 0px;

    z-index: 1;
  }
  &.second {
    bottom: 0px;
    left: 308px;

    z-index: 1;
  }
  &.third {
    bottom: 0px;
    left: 412px;

    z-index: 1;
  }
  &.fourth {
    top: 0px;
    left: 40px;

    z-index: 0;
  }
}

