.subscribe__container {
background: linear-gradient(to right, #ACC6F7 0%, 3.38%, #BACCF4 6.76%, 9.64%, #C5D2F3 12.53%, 16.83%, #D0D8F3 21.12%, 21.97%, #D3DBF4 22.81%, 23.52%, #D3DBF4 24.22%, 27.18%, #DBE0F4 30.14%, 32.32%, #E2E6F4 34.50%, 37.95%, #EBF0F6 41.40%, 41.90%, #EBF1F7 42.39%, 44.36%, #EFF7F8 46.33%, 52.32%, #F2FDF9 58.30%, 66.54%, #F2FBF8 74.78%, 83.59%, #EFF2FA 92.39%, 96.19%, #E8EAF8 100%);

min-width: 1200px;
max-width: 1920px;
height: 312px;

border-radius: 32px;

padding-top: 65px;
padding-bottom: 65px;
}

.subscribe__img {
position: absolute;
border: 2px solid $background-main;
border-radius: 24px;
 &.first {
left: 44px;
top: 38px;
}
 &.second {
left: 195px;
top: 178px;
}
 &.third {
left: 930px;
top: 44px;
}
 &.fourth {
left: 1072px;
top: 197px;
}

}

.subscribe__agent-img {
position: absolute;
border: 2px solid $background-main;
border-radius: 50%;
filter: $filter-avatar;
 &.first {
left: 67px;
top: 173px;
}
 &.second {
left: 204px;
top: 71px;
}
 &.third {
left: 1082px;
top: 107px;
}
 &.fourth {
left: 964px;
top: 143px;
}

}

.subscribe__title {
margin: 0px auto 32px auto;
}

.subscribe__label {
display: flex;
flex-direction: row;
align-items: center;
padding: 4px 4px 4px 24px;
gap: 16px;

margin-left: auto;
margin-right: auto;

width: 496px;
height: 54px;

background: $background-main;
/* Shadow / Smooth */

box-shadow: $shadow-first;
border-radius: 32px;
}

.subscribe__input {
width: 283px;
height: 22px;

font-weight: 500;
font-size: 14px;
line-height: 1.57;

color: $text-gray;

outline: none;
border: none;
}
